* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
    --bg-color: #FFFFFF;
    --base-color: 194;
    --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --primary-color: hsl(var(--base-color), 100%, 63%);
  
    --text-color: #323238;
  
    font-size: 62.5%;
  }
  
body {
  background-size: 100%;
  color: var(--text-color);
  
    font-family: 'Roboto', sans-serif;
  
    display: grid;
    min-height: 100vh;
  }
.time{
  color: white;
}

.screen-mode {
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
}

main {
  font-size: 1.6rem;
  background-color: var(--bc-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 19.2rem;
  padding: 2rem;
}


#timer {
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  
    display: flex;
    margin-bottom: 4.8rem;
    font-size: 126.166px;
    line-height: 148px;

  }
#controls{
    gap: 4.0rem;
    padding: 0;
    display: flex;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
#above{
    gap: 3.2rem;
    display: flex;
    margin-bottom: 3.2rem;
}
#below{
    gap: 3.2rem;
    display: flex;
}
#teste{
    align-self: center;
    justify-self: center;
}
.hide{
    display: none;
}
.control-volume {
  position: absolute;
  top: 12.5rem;
  right: 2.4rem;
  appearance: none;
  width: 9rem;
  height: 0.4rem;
  background: #323238;
  border-radius: 0.5rem;
}

.control-volume::-webkit-slider-thumb {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 9999rem;
  background: #323238;
  cursor: pointer;
}


.white, .white::-webkit-slider-thumb {
  background: white;
}

.container-lofi {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 820px) {
  main {
    flex-direction: column;
    row-gap: 3rem;
  }
  .alert-minute-second {
    padding: 3rem;
  }

  .screen-mode {
    top: 1.5rem;
    right: 1.5em;
  }

}

@media (max-width: 345px) {
  .display-timer {
    font-size: 10.62rem;
  }
  .control-button {
    gap: 2.5rem;
  }

  .screen-mode {
    top: 1.5rem;
    right: 1.5em;
  }

}
